@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 900;
    src: url('IRANYekanMobileExtraBold.woff2');
    src:  /* IE6-8 */ url('IRANYekanMobileExtraBold.woff2') format('woff2'),
  }
  @font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: bold;   
    src: 
      /* IE6-8 */ url('IRANYekanMobileBold.woff2') format('woff2'),
     
  }
  @font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 500;
    src:  /* IE6-8 */ url('IRANYekanMobileMedium.woff2') format('woff2'),
   
  }
  @font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 300;
    src:  /* IE6-8 */ url('IRANYekanMobileRegular.woff2') format('woff2'),
  }
  @font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 200;
    src:  /* IE6-8 */ url('IRANYekanMobileThin.woff2') format('woff2'),
  }
  @font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: normal;
    src:  /* IE6-8 */ url('IRANYekanMobileBlack.woff2') format('woff2'),
  }